[user]
  name = Emmanuel Etti
  email = emmanueletti@gmail.com
[core]
	editor = $EDITOR
  commitGraph = true
	excludesfile = ~/.gitignore_global
[diff]
  algorithm = histogram
  colorMoved = default
[merge]
  conflictStyle = zdiff3
[init]
  defaultBranch = main
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[push]
  default = current
  autoSetupRemote = true
[pull]
  rebase = true
[commit]
  template = ~/.gitmessage
	# gpgsign = true
[pager]
	branch = false
	diff = true
	log = true
[format]
	pretty = %C(yellow)%h %Creset %s %Cgreen(%ar)
[rebase]
	instructionFormat = %s %Cgreen(%ar)%Creset
	autosquash = true
